@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


html, body {
  height:100%;
  width:100%;
  margin:0;
  padding:0;
}

body {
  background: linear-gradient(45deg, #4568dc, #b06ab3);
  background-size: cover;
}

.footer {
  margin-top: 220px;
  float: right;
  width: 50%;
  color: rgb(255, 255, 255);
  font-family: 'Press Start 2P', sans-serif;
  font-size: 0.8rem;
  text-align: center;

}

.dodatok {
  margin-top: 220px;
  margin-left: 20px;
  width: 50%;
  color: rgb(255, 255, 255);
  font-family: 'Press Start 2P', sans-serif;
  font-size: 0.8rem;
}

#menu {
  float: left;
  width: 50%;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 1.3rem;
  padding-top: 7px; 
  opacity: 70%;
}

#menu ul {
  list-style: none;
}

#menu li {
  display: inline; 
  padding: 15px;
}


#header {
  height: 40px;
  text-align: center;
  padding-top: 20px;
  padding-left: 30px;
  font-size: 1.5rem;
  font-family: 'Dela Gothic One', sans-serif;
}

#header-work {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Dela Gothic One', sans-serif;
  padding-top: 20px;
  margin-right: 10px;

}

#header-about-me {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Dela Gothic One', sans-serif;
  padding-top: 20px;
  margin-right: 10px;

}

#content {
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin-top: 130px;
  margin-right: 300px;
  margin-left: 290px;
  font-size: 1.7rem;
  height: 130px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #a4b5eb;
}

#content {
  animation: fadeIn 2s forwards;
} 

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-3em);

  }

  to {
      opacity: 1;
      transform: translateY(0);
  }

}

.socmed,
#content-contacts, 
.mynumberem,
.content-work,
#about-me-content {
  animation: fadeIn 2s forwards;
} 

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-1em);

  }

  to {
      opacity: 1;
      transform: translateY(0);
  }

}

#content-contacts {
  font-family: 'Dela Gothic One', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 3.4rem;
  margin-top: 70px;
  margin-left: 390px;
}

.mynumberem {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  padding-top: 40px;
  padding-left: 100px;
}

.underlol {
  text-decoration: underline;
}

.socmed {
  font-family: 'Dela Gothic One', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 3.4rem;
  margin-top: 40px;
  text-align: center;
}

.content-work {
  margin: 70px 30px 0 30px;
}

.work-footer {
  color: rgb(255, 255, 255);
  font-family: 'Press Start 2P', sans-serif;
  font-size: 0.8rem;
  margin-top: 150px;
  text-align: center;
}

#footer-about-me {
  color: white;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 0.8rem;
  margin-top: 183px;
  text-align: center;

}

#about-me-content {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  color: white;
  text-align: left;
  margin-left: 50px;
  margin-right: 40px;
  margin-top: 50px;

}

.footer-about-me {
  color: rgb(255, 255, 255);
  font-family: 'Press Start 2P', sans-serif;
  font-size: 0.8rem;
  margin-top: 177px;
  text-align: center;

}






