@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


html, body {
  height:100%;
  width:100%;
  margin:0;
  padding:0;
}

body {
  background: linear-gradient(45deg, #4568dc, #b06ab3);
  background-size: cover;
}

.footer {
  margin-top: 220px;
  float: right;
  width: 50%;
  color: rgb(255, 255, 255);
  font-family: 'Press Start 2P', sans-serif;
  font-size: 0.8rem;
  text-align: center;

}

.dodatok {
  margin-top: 220px;
  margin-left: 20px;
  width: 50%;
  color: rgb(255, 255, 255);
  font-family: 'Press Start 2P', sans-serif;
  font-size: 0.8rem;
}


.menu {
  float: left;
  width: 50%;
  height: 40px;
}


#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: flex; 
  align-items: center; 
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 100%;
  width: 250px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #c1b3f5;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #3456c4;
  font-family: 'Dela Gothic One', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #5f78cc;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

#header {
  height: 40px;
  text-align: center;
  padding-top: 20px;
  padding-left: 30px;
  font-size: 1.5rem;
  font-family: 'Dela Gothic One', sans-serif;
}

#content {
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin-top: 130px;
  margin-right: 300px;
  margin-left: 290px;
  font-size: 1.7rem;
  height: 130px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #a4b5eb;
}

#content {
  animation: fadeIn 2s forwards;
} 

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-3em);

  }

  to {
      opacity: 1;
      transform: translateY(0);
  }

}

.socmed,
#content-contacts, 
.mynumberem,
.content-work {
  animation: fadeIn 2s forwards;
} 

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-1em);

  }

  to {
      opacity: 1;
      transform: translateY(0);
  }

}

#content-contacts {
  font-family: 'Dela Gothic One', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 3.4rem;
  margin-top: 70px;
  margin-left: 390px;
}

.mynumberem {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  padding-top: 40px;
  padding-left: 100px;
}

.underlol {
  text-decoration: underline;
}

.socmed {
  font-family: 'Dela Gothic One', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 3.4rem;
  margin-top: 40px;
  text-align: center;
}

.content-work {
  margin: 70px 20px 0 35px;
}

.work-footer {
  color: rgb(255, 255, 255);
  font-family: 'Press Start 2P', sans-serif;
  font-size: 0.8rem;
  margin-top: 130px;
  text-align: center;
}

.social-networks-content {
  font-family: 'Dela Gothic One', sans-serif;
  font-size: 3.4rem;
  margin-top: 40px;
  margin-left: 5px;
  text-align: center;
}

#about-me-content {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  color: white;
  text-align: left;
  margin-left: 50px;
  margin-right: 40px;
  margin-top: 50px;

}

.footer-about-me {
  color: rgb(255, 255, 255);
  font-family: 'Press Start 2P', sans-serif;
  font-size: 0.8rem;
  margin-top: 177px;
  text-align: center;

}






